@using GreatBrain.UI.Models
@model GreatBrain.UI.Models.AgeGroup

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "AgeGroup")
}

<div class="container">
    <h3>Добавление контента</h3>
    @using (Html.BeginForm("Edit", "AgeGroup", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Name" id="Name" placeholder="Введите идентификатор страницы" value="@Model.Name">
            </div>
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EducationCategory, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <select class="form-control" name="EducationCategory">
                    @foreach (EducationCountry ec in ((IEnumerable<EducationCountry>)ViewBag.EducationCountries).OrderBy(c=>c.SortOrder))
                    {
                        foreach (EducationCategory educationCategory in ec.EducationCategories.OrderBy(c => c.SortOrder))
                        {
                            <option value="@educationCategory.Id" @(Model.EducationCategoryId == educationCategory.Id ? "selected" : "")>@ec.Title &mdash; @educationCategory.Title</option>
                        }
                    }
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.EducationCategory)
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Age" id="Age" placeholder="Введите возраст" value="@Model.Age">
            </div>
            @Html.ValidationMessageFor(model => model.Age)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AgeEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="AgeEn" id="AgeEn" placeholder="Введите возраст" value="@Model.AgeEn">
            </div>
            @Html.ValidationMessageFor(model => model.AgeEn)
        </div>
          <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="10" name="Text">@Model.Text</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TextEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="10" name="TextEn">@Model.TextEn</textarea>
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.SortOrder, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="SortOrder"  placeholder="Введите порядок отображения" value="@Model.SortOrder">
            </div>
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>
        <div class="form-group">
            @Html.ActionLink("Назад", "Index", "AgeGroup", null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>
}
