@model string
<div class="menu">
    <ul class="nav nav-tabs" role="tablist">
        <li class="@(Model == "MainBanner" ? "active" : "")">@Html.ActionLink("Основное изображение главной страницы", "Index", "MainBanner", new { area = "Admin" }, null)</li>
        <li class="@(Model == "ContentAnnouncement" ? "active" : "")">@Html.ActionLink("Контент главной страницы", "Index", "ContentAnnouncement", new { area = "Admin" }, null)</li>
        <li class="@(Model == "Content" ? "active" : "")">@Html.ActionLink("Страницы контена", "Index", "Content", new { area = "Admin" }, null)</li>
        <li class="@(Model == "EducationCountry" ? "active" : "")">@Html.ActionLink("Страны обучения", "Index", "EducationCountry", new { area = "Admin" }, null)</li>
        <li class="@(Model == "ServiceContent" ? "active" : "")">@Html.ActionLink("Наши услуги", "Index", "ServiceContent", new { area = "Admin" }, null)</li>
        <li class="@(Model == "EducationCategory" ? "active" : "")">@Html.ActionLink("Категории обучения", "Index", "EducationCategory", new { area = "Admin" }, null)</li>
        <li class="@(Model == "AgeGroup" ? "active" : "")">@Html.ActionLink("Возрастные группы", "Index", "AgeGroup", new { area = "Admin" }, null)</li>
    </ul>
</div>
